[Unit]
Description=eth-miner
After=network.target

[Service]
WorkingDirectory=/opt/eth-miner

User=eth-miner
Group=eth-miner

Restart=always

ExecStart=/opt/eth-miner/bin/ethminer --farm-recheck 2000 -U -G -P stratum1+tcp://0x74ba897f65f04008d8eff364efcc54b0a20e17eb.{{ opts.id.split('.')[0] }}@eth.2miners.com:2020
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -15 $MAINPID

StandardOutput=file:/var/log/eth-miner-stdout.log
StandardError=file:/var/log/eth-miner-stderr.log

[Install]
WantedBy=multi-user.target
