[Unit]
Description=eth-miner
After=network.target

[Service]
WorkingDirectory=/opt/eth-miner

User=eth-miner
Group=eth-miner

Restart=always

ExecStart=/usr/bin/screen -DmS eth-miner /opt/eth-miner/bin/ethminer --farm-recheck 200 -G -P http://127.0.0.1:8081/{{opts.id}}

[Install]
WantedBy=multi-user.target
