[Unit]
Description=eth-proxy server
After=network.target

[Service]
WorkingDirectory=/opt/eth-proxy

User=eth-proxy
Group=eth-proxy

Restart=always

ExecStart=/usr/bin/screen -DmS eth-proxy /usr/bin/python /opt/eth-proxy/eth-proxy

[Install]
WantedBy=multi-user.target
